export(UJM)
export(VS)
export(VS2)
export(SVS)
export(DP)
export(MCDP)
export(DP_VS)
importFrom("stats","model.frame")
importFrom("stats","model.matrix")
importFrom("statmod","gauss.quad")
importFrom("stats","quantile")
importFrom("nnet","class.ind")
importFrom("arules","discretize")
importFrom("stats","rnorm")
importFrom("jagsUI","jags")
importFrom("stats",'runif')
importFrom("survival","Surv")
importFrom("parallelsugar","mclapply")

