export(UJM)
#export(VSJM)
#export(VSJM2)
#export(SVSJM)
#export(DP)
importFrom("stats","model.frame")
importFrom("stats","model.matrix")
importFrom("statmod","gauss.quad")
importFrom("stats","quantile")
importFrom("nnet","class.ind")
importFrom("arules","discretize")
importFrom("stats","rnorm")
importFrom("jagsUI","jags")
importFrom("stats",'runif')
importFrom("survival","Surv")

